@model KanBanVersion2.Entities.Todo

@{
    ViewBag.Title = "Todo Sil";
}

<h3>&nbsp;&nbsp;Bu todoyu silmek istediğinizden emin misiniz?</h3>
<div>
    <hr />
    <div style="margin-left:auto" class="col-md-12">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.proje.projeAd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.proje.projeAd)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.todoAdi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.todoAdi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.todoAciklama)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.todoAciklama)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.taslakDurum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.taslakDurum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.todoDurumu)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.todoDurumu)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.olusturmaTarihi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.olusturmaTarihi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.guncellemeTarihi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.guncellemeTarihi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.duzenleyen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.duzenleyen)
            </dd>

        </dl>
    
    </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div>
        &nbsp;&nbsp;
        @Bootstrap.Button("danger", string.Empty, "submit", "remove", "  Sil")
        @Bootstrap.LinkButton("/Todo/Index", "secondary", string.Empty, string.Empty, "arrow-left", "    Listeye Dön")

    </div>
        }
    </div>
